<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>This site was created by Fatima Aviles. It uses data from google maps and OpenWeatherMap API!</p>
            <img class="portrait" src="/img/fatima.jpg">
        </div>
        {{>footer}}
    </body>
</html>